#keses{ 
    background-color: red;
}

#center{
  text-align: center;
}

th {
    background-color: #008001;
}

#clock{ 
  height: 35px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #008001;
  }
  tr:nth-child(odd) {
    background-color: #5dbe89;
  }

.paratlan_sor {
    background-color: #008001;
}
